
h1{ 
    text-align: center;
    color:#851010;
    font-size: 50px;
    border-style: solid;
    border-color: black;
    border-radius: 100px;
    background-color:rgb(0, 0, 0);
}
body{
    background-color:#f5f1f1;
}
div{
    color:#851010;
}
.myfav{
    text-align: center;
    text-decoration-line: underline;
    text-transform: capitalize;
    font-size: larger;
    text-decoration-color: black;
}
h2{
    text-align: center;
}
.image{
    text-align: center;
}
img{
   max-width: 350px;
   max-height: 350px;
   border-radius: 10%;
   -webkit-filter: grayscale(60%); /* Safari 6.0 - 9.0 */
   filter: grayscale(70%);
   border: 5px solid black;
   image-rendering: crisp-edges;

}
.contactinfo{
    text-align: center;
    color: black;
    font-style: italic;
}
h3 {
    text-align: center;
}
ul{
    font-size: larger;
    color:rgb(143, 4, 4);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}